# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

build*/
docs/site/
docs/mkdocs.yml
snap/
*.snap
docs/docs/contributing/json_reference.md
docs/docs/contributing/scripting/python_reference.md
*.pro.user

# Kate text editor
*.kate-swp
