# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[submodule "cmake"]
	path = cmake
	url = https://gitlab.com/mattbas/CMake-Lib.git
[submodule "external/Qt-Color-Widgets"]
	path = external/Qt-Color-Widgets
	url = https://gitlab.com/mattbas/Qt-Color-Widgets.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = https://github.com/rpavlik/cmake-modules.git
[submodule "external/pybind11"]
	path = external/QtAppSetup/external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "data/icons/breeze-icons"]
	path = data/icons/breeze-icons
	url = https://github.com/KDE/breeze-icons.git
	branch = kf5
[submodule "data/lib/python-lottie"]
	path = data/lib/python-lottie
	url = https://gitlab.com/mattbas/python-lottie.git
