[submodule "cmake"]
	path = cmake
	url = https://gitlab.com/mattia.basaglia/CMake-Lib.git
[submodule "data/icons"]
	path = data/icons
	url = https://gitlab.com/mattia.basaglia/icon-theme-extractor.git
[submodule "external/Qt-Color-Widgets"]
	path = external/Qt-Color-Widgets
	url = https://gitlab.com/mattia.basaglia/Qt-Color-Widgets.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = https://github.com/rpavlik/cmake-modules.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
