.navbar-nav > li > a
{
    padding-top: 16px;
    padding-bottom: 16px;
}

.navbar-header {
    display: flex;
}

.navbar-header button {
    margin-left: auto;
}

.navbar-header.active > a
{
    color: #fff;
    background-color: #272727;
}
